Omega = 14.142135623730951
kappa = 2e-05
m = 0.075
L = 0.08
B1 = 0.018
B0 = 0.01
mu = 0.2
theta0 = 0
thetadot0 = -2
sampling = 1
N_excit = 10000
Nperiod = 3
nsteps = 50
C = 0
alpha = 0
beta = 0
gamma = 0
output = Ex2.txt // name of the output file
