Omega = 14.142135623730951
kappa = 0
m = 0.075
L = 0.08
B1 = 0.002
B0 = 0.01
mu = 0.2
theta0 = 0.001
thetadot0 = 0
sampling = 1
N_excit = 100
Nperiod = 3
nsteps = 50
C = 0
alpha = 0
beta = 0
nsteps = 50
C = 0
alpha = 0
beta = 0
gamma = 0
output = Ex2.txt // name of the output file
